body,
html {
  height: 100%;
}

#index {
  min-height: 2.5rem;
  padding: 5px 2px;
  margin: 5px 0;
  max-width: 120px;
  text-align: center;
}

form {
  border: 1px solid silver;
  height: 100%;
  padding: 15px 10px;
}
#starter,
#auto-starter {
  text-align: center;
}
.solid-border {
  border: 1px solid black;
}
#message-board {
  font-size: 24px;
  color: black;
  text-emphasis: normal;
}
#boom {
  width: 10rem;
  height: 10rem;
  font-size: 40px;
}
.no-border {
  border: none;
}
