* {
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
  line-height: 1.4rem;
  font-size: 18px;
}
#header {
  font-family: "MathJax_Caligraphic", "Arial";
  text-align: center;
  display: grid;
  grid-template-columns: 85% 15%;
  #get-user-rate {
    text-align: left;
    height: 100%;
  }
  header {
    margin: 25px;
  }
}
main {
  display: grid;
  grid-template-areas: "T Ru Ru Pt" "Pts Ru Ru Pt";
  grid-template-rows: 1fr 2fr;
  row-gap: 5px;
  section {
    padding: 10px 25px;
    margin: 0 5px;
    font-size: 22px;
    border-radius: 3px;
  }
  #reg-form {
    grid-area: Pt;
    text-align: center;
    .form-group {
      text-align: left;
    }
  }
  #topic-adder {
    grid-area: T;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  #center {
    grid-area: Ru;
    #categories {
      margin: 10px 0;
      ul {
        padding: 5px 15px;
        margin-left: 30px;
        list-style-type: square;
      }
      border-bottom: 1px solid black;
    }
    #rules {
      ul {
        padding-left: 30px;
        ul {
          padding-left: 30px;
        }
      }
    }
    li {
      padding: 3px 2px;
    }
  }
  #parti-list-container {
    grid-area: Pts;
    overflow-y: scroll;
    position: relative;
    display: flex;
    li {
      margin: 7px 3px;
    }
    flex-direction: column;
    justify-items: center;
    align-items: center;
    button {
      position: absolute;
      bottom: 5px;
    }
  }
}

#countdown {
  // text-align: center;
  font-size: 88px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px 10px;
}
#topic {
  // text-align: center;
  font-size: 56px;
  padding: 7px;
}

@media (max-width: 1080px) {
  main {
    display: flex;
    flex-direction: column;
    #reg-form {
      width: auto;
    }
    section {
      margin: 15px 0;
    }
  }
}

#user-rate {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(230, 230, 230, 0.75);
  header {
    text-align: center;
    font-size: 22px;
    padding: 7px 4px;
  }
  #rate-form {
    position: relative;
    top: 20vh;
    z-index: 150;
    margin: auto;
    min-width: 400px;
    width: 25%;
    min-height: 18rem;
    max-height: 25rem;
    border-radius: 4px;
    padding: 15px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    label {
      font-size: 120%;
    }
    button {
      margin: 7px auto;
    }
  }
  #exit {
    font-size: 36px;
    color: black;
    background: transparent;
    border: none;
    position: relative;
    float: right;
    left: -15px;
    top: 7px;
  }
}
