* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  line-height: 1.4rem;
  font-size: 18px;
}

#header {
  font-family: "MathJax_Caligraphic", "Arial";
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 85% 15%;
      grid-template-columns: 85% 15%;
}

#header #get-user-rate {
  text-align: left;
  height: 100%;
}

#header header {
  margin: 25px;
}

main {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "T Ru Ru Pt" "Pts Ru Ru Pt";
  -ms-grid-rows: 1fr 2fr;
      grid-template-rows: 1fr 2fr;
  row-gap: 5px;
}

main section {
  padding: 10px 25px;
  margin: 0 5px;
  font-size: 22px;
  border-radius: 3px;
}

main #reg-form {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: Pt;
  text-align: center;
}

main #reg-form .form-group {
  text-align: left;
}

main #topic-adder {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: T;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #center {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: Ru;
}

main #center #categories {
  margin: 10px 0;
  border-bottom: 1px solid black;
}

main #center #categories ul {
  padding: 5px 15px;
  margin-left: 30px;
  list-style-type: square;
}

main #center #rules ul {
  padding-left: 30px;
}

main #center #rules ul ul {
  padding-left: 30px;
}

main #center li {
  padding: 3px 2px;
}

main #parti-list-container {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: Pts;
  overflow-y: scroll;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #parti-list-container li {
  margin: 7px 3px;
}

main #parti-list-container button {
  position: absolute;
  bottom: 5px;
}

#countdown {
  font-size: 88px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px 10px;
}

#topic {
  font-size: 56px;
  padding: 7px;
}

@media (max-width: 1080px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main #reg-form {
    width: auto;
  }
  main section {
    margin: 15px 0;
  }
}

#user-rate {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(230, 230, 230, 0.75);
}

#user-rate header {
  text-align: center;
  font-size: 22px;
  padding: 7px 4px;
}

#user-rate #rate-form {
  position: relative;
  top: 20vh;
  z-index: 150;
  margin: auto;
  min-width: 400px;
  width: 25%;
  min-height: 18rem;
  max-height: 25rem;
  border-radius: 4px;
  padding: 15px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: scroll;
}

#user-rate #rate-form label {
  font-size: 120%;
}

#user-rate #rate-form button {
  margin: 7px auto;
}

#user-rate #exit {
  font-size: 36px;
  color: black;
  background: transparent;
  border: none;
  position: relative;
  float: right;
  left: -15px;
  top: 7px;
}
/*# sourceMappingURL=main.css.map */